
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='iot.css') }}"/>
    <title>Hackathon</title>
</head>
    <section class="container">
        <div class="form">
            <h1>iSafe</h1>
            <form method='POST'>
                <div class="input-box">
                    <input type="text" name="uname" placeholder="Username" required>
                </div>
                <div class="input-box">
                    <input type="tel" name="number" placeholder="Phone Number" pattern ="+[0-9]{10,11}" required>
                </div>
                <div class="input-box">
                    <select name="tag">
                        <option value="device1">device1</option>
                        <option value="device2">device2</option>
                        <option value="device3">device3</option>
                        <option value="device3">device3</option>
                    </select>
                </div>
                <div class="input-box">
                    <input type="tel" name="Alert Receiver1" placeholder="Alert Receiver1" pattern ="+[0-9]{10,11}" required>
                </div>
                <div class="input-box">
                    <input type="tel" name="Alert Receiver2" placeholder="Alert Receiver2" pattern ="+[0-9]{10,11}" required>
                </div>
                <div class="input-box">
                    <input type="submit" name="submit" value="Submit">
                </div>
            </form>
            {{t}}
        </div>
    </section>
</body>
</html>
